# 👋 About {{ project_name }}

**{{ project_name }}** is an open-source UI component library built using **Jinja2** templating system.

---

## 🔍 Description

{{ description }}

---

## 👤 Author

- **{{ author }}**
- GitHub: [{{ github_url }}]({{ github_url }})

---

© {{ year }} {{ author }} – All rights reserved.
